.center {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: -1;
}

.center .nameInput {
    appearance: none;
    background: none;
    border: none;
    color: white;
    font-size: 36px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
}
.center .nameInput::placeholder {
    color: white;
    opacity: 0.7;
}

.center .nameInput:focus,
.center .nameInput:active {
    outline: none;
}

.center .nameText {
    font-size: 36px;
    margin-bottom: 20px;
}

.center .name {
    margin-bottom: 30px;
}